<div class="header-cart">
    <a href="#">
        <div class="cart-icon">
            <i class="ti-shopping-cart"></i>
        </div>
    </a>
    <div class="shopping-cart-content">
        <ul>
            <li class="single-shopping-cart">
                <div class="shopping-cart-img">
                    <a href="#"><img alt="" src=" {{ 'img/cart/cart-1.jpg' | asset_url }}"></a>
                </div>
                <div class="shopping-cart-title">
                    <h4><a href="#">Phantom Remote </a></h4>
                    <h6>Qty: 02</h6>
                    <span>$260.00</span>
                </div>
                <div class="shopping-cart-delete">
                    <a href="#"><i class="ion ion-close"></i></a>
                </div>
            </li>
            <li class="single-shopping-cart">
                <div class="shopping-cart-img">
                    <a href="#"><img alt="" src="{{ 'img/cart/cart-2.jpg' | asset_url }}"></a>
                </div>
                <div class="shopping-cart-title">
                    <h4><a href="#">Phantom Remote</a></h4>
                    <h6>Qty: 02</h6>
                    <span>$260.00</span>
                </div>
                <div class="shopping-cart-delete">
                    <a href="#"><i class="ion ion-close"></i></a>
                </div>
            </li>
        </ul>
        <div class="shopping-cart-total">
            <h4>Shipping : <span>$20.00</span></h4>
            <h4>Total : <span class="shop-total">$260.00</span></h4>
        </div>
        <div class="shopping-cart-btn">
            <a href="cart-page.html">view cart</a>
            <a href="checkout.html">checkout</a>
        </div>
    </div>
</div>