{% comment %} Sanity check to prevent infinite recursion {% endcomment %}
{% assign sanity = sanity | plus: 1 %}

{% if sanity < 1000 %}
    {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
    {% assign hasChildren = false %}
    {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}
        {% assign hasChildren = true %}
    {% endif %}

    {% assign isTop = false %}
    {% if navigation-link == 'top' %}
        {% assign isTop = true %}
    {% endif %}

    {% assign isMega = false %}
  
    {% assign tmp = 'mega_menu_' | append:link_handle %}
    {% assign menu_trigger = settings[tmp] | handle %}
    {% if menu_trigger == true %}
    {% assign isMega = true %}
    {% endif %}
  
    <li class="{% if link.active %} active{% endif %}{% if isMega %} mega-menu-position {{mega_style}}{% endif %}{% if hasChildren %} top-hover dropdown-parent{% unless isTop %}-submenu{% endunless %}{% endif %}">
    <a href="{{link.url}}">
        {{link.title}}
        {% if hasChildren or isMega %}<i class="zmdi zmdi-chevron-down"></i>{% endif %}
    </a>
    {% if isMega %}
        {% include 'mega-menu' with linklists[link_handle] %}
    {% elsif hasChildren %}
        {% include 'sub-menu' with linklists[link_handle] %}
    {% endif%}
    </li>
{% endif %}

