<div class="col-lg-9">
    <div class="shop-topbar-wrapper">
        <div class="shop-topbar-left">
            <ul class="view-mode">
                <li class="active">
                    <a href="#product-grid" data-view="product-grid">
                        <i class="fa fa-th"></i>
                    </a>
                </li>
                <li>
                    <a href="#product-list" data-view="product-list">
                        <i class="fa fa-list-ul"></i>
                    </a>
                </li>
            </ul>
            <p>Showing 1 - 20 of 30 results  </p>
        </div>
        <div class="product-sorting-wrapper">
            <div class="product-shorting shorting-style">
                <label>View:</label>
                <select>
                    <option value=""> 20</option>
                    <option value=""> 23</option>
                    <option value=""> 30</option>
                </select>
            </div>
            <div class="product-show shorting-style">
                <label>Sort by:</label>
                <select>
                    <option value="">Default</option>
                    <option value=""> Name</option>
                    <option value=""> price</option>
                </select>
            </div>
        </div>
    </div>    
    <div class="grid-list-product-wrapper">
        {% if collection.products.size > 0 %}
        <div class="product-grid product-view pb-20">
            <div class="row">
                {% for product in collection.products %}
                    {% include 'product-list-item' %}
                {% endfor %}
            </div>
        </div>

        <div class="pagination-total-pages">
            <div class="pagination-style">
                <ul>
                    <li><a class="prev-next prev" href="#"><i class="ion-ios-arrow-left"></i> Prev</a></li>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                    <li><a class="prev-next next" href="#">Next<i class="ion-ios-arrow-right"></i> </a></li>
                </ul>
            </div>
            <div class="total-pages">
                <p>Showing 1 - 20 of 30 results  </p>
            </div>
        </div>
        {% else %}
            <p class="empty">{{ 'collections.general.no_products' | t }}</p>
            {% comment %} {% include 'collection-default' %} {% endcomment %}
        {% endif %}
    </div>
</div>