{% include 'breadcrumb' %}
<!-- Shop Page Area Start -->
<div class="shop-page-area ptb-100">
    <div class="container">
        <div class="row flex-row-reverse">
        {% include 'product-list' %}
        {% include 'product-filter' %}
        </div>
    </div>
</div>